(
    contents: [
    (-1, n), (-3, n), (-5, n),
    (-7, n), (-3, n), (0, s(NW)),
    (-2, s(W)), (-1, s(W)), (-7, n),
    (-4, s(N)), (-1, s(NW)), (0, s(NW)),
    (-9, n), (-6, s(N)), (-3, s(N)),
    (0, s(NW)),
    ]
)
